dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.env
.idea
python/pastepin/.env
python/pastepin/.idea
**/*.pyc
python/deploy_pastebin.sh
python/pastepin/backports/
python/pastepin/bin/
python/pastepin/certifi-2018.11.29.dist-info/
python/pastepin/certifi/
python/pastepin/chardet-3.0.4.dist-info/
python/pastepin/chardet/
python/pastepin/configparser-3.5.0-py3.6-nspkg.pth
python/pastepin/configparser-3.5.0.dist-info/
python/pastepin/idna-2.7.dist-info/
python/pastepin/idna/
python/pastepin/requests-2.20.1.dist-info/
python/pastepin/requests/
python/pastepin/urllib3-1.24.1.dist-info/
python/pastepin/urllib3/
**/*.zip
rust/hello_world/main
rust/hello_cargo/target
